/* Import */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

/* Tag Customize */
a{
    text-decoration: none;
    color: #293845;
}
a:hover{
    color: #293845;
    opacity: 95%;
}
body{
    background-color: #fff;
    color: #293845;
    font-family: "Poppins", sans-serif;
    line-height: 1.5;
    padding: 4rem;
}
nav{
    background-color: #fff;
    opacity: 90%;
    overflow: hidden;
    padding: 1rem 0.25rem 1rem 0.25rem;
    position:sticky;
    top: 0;
    z-index: 9999;
}

/* Id Customize */
#card{
    cursor: pointer;
    display: flex;
    align-content: space-between;
    height: 525px;
}
#card:hover{
    scale: 1.02;
}
#desc{
    outline: 0.2px solid #c8c8c8;
}
/* Class Customize */
.loader-wrapper{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    border: 4px solid #293845;
    animation: loader 2s infinite ease;
}

.loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #293845;
    animation: loader-inner 2s infinite ease-in;
}

/* Media Customize */
@keyframes loader {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(180deg);
    }

    50% {
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes loader-inner {
    0% {
        height: 0%;
    }

    25% {
        height: 0%;
    }

    50% {
        height: 100%;
    }

    75% {
        height: 100%;
    }

    100% {
        height: 0%;
    }
}