/* Import */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

/* Tag Customize */
a{
    text-decoration: none;
    color: #293845;
}
a:hover{
    color: #293845;
    opacity: 95%;
}
body{
    background-color: #fff;
    color: #293845;
    font-family: "Poppins", sans-serif;
    line-height: 1.5;
    padding: 4rem;
}
nav{
    background-color: #fff;
    opacity: 90%;
    overflow: hidden;
    padding: 1rem 0.25rem 1rem 0.25rem;
    position:sticky;
    top: 0;
    z-index: 9999;
}

/* Id Customize */
#card{
    cursor: pointer;
    display: flex;
    align-content: space-between;
    height: 525px;
}
#card:hover{
    scale: 1.02;
}
#desc{
    outline: 0.2px solid #c8c8c8;
}
/* Class Customize */


/* Media Customize */
